<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Dashboard</h5>
                    <hr class="my-4">
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Welcome to your Dashboard </p>
                    <div class="d-grid">
                        <button (click)="logOut()" class="btn btn-primary btn-login text-uppercase fw-bold"
                            type="submit">Log out</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>